.memory-card {
    background-color: rgb(180, 45, 45);
    border: 2px solid gray;
    border-radius: 0.25em 0;
    box-shadow: inset 5px 5px 0 white, inset -5px -5px 0 white;
    color: rgb(100, 45, 45);
    cursor: pointer;
    display: inline-block;
    font-size: 2em;
    height: 4em;
    line-height: 4em;
    margin: 1em;
    padding: 0;
    text-align: center;
    width: 3em;
}

.memory-card.is-face-up {
    background-color: white;
}
